body {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

#header {
    display: flex;
    box-sizing: border-box;
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    width: 100%;
}

.heada {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    line-height: 14px;
    color: #000;
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: .75;
    padding-right: 18px;
}

#headerleft {
    left: 0;
    height: 85px;
    padding-top: 20px;
    width: 50%;
    display: flex;
}

#headerright {
    width: 50%;
    text-align: right;
    margin-right: 30px;
    margin-top: 1.7em;
}

#logo {
    padding: 2px 12px 0 13px;
}

#searchbox {
    border: 0px solid;
    box-shadow: 0 2px 2px 0 #ccc, 0 0 0 1px #E4E4E4;
    width: 584px;
    height: 44px;
    padding: 0px 16px;
    box-sizing: border-box;
}

#searchbox:hover, #searchbox:focus {
     box-shadow: 0 3px 8px 0 #ccc, 0 0 0 1px #E4E4E4;
     transition: box-shadow 200ms;
}

#googleapps {
    opacity: .75;
}

#googleapps:hover {
    opacity: 1;
}

#signin {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    font-family: arial, sans-serif;
    padding: 0 12px;
    border-radius: 2px;
    height: 30px;
}

#signin:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#footer {
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    line-height: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 29px;
}

#searchresults {
    width: 632px;
    position: relative;
    margin: 1em;
}

.rhead {
    font-size: 18px;
}

.rdesc {
    font-size: small;
}

.pagesum {
    line-height: 1.4;
}

.result {
    margin-bottom: 26px;
}

.rdate {
    color: #808080;
}